/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Arial, sans-serif; /* Set a default font */
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

/* Custom Default Styles */
body {
  line-height: 1.6;
  background-color: #f4f4f4; /* Set a default background color */
  color: #333; /* Set a default text color */
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

header,
footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

.single-product {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  align-items: center;
}
