body{
        background-image: url(./Images/Space.jpg);
        background-repeat: no-repeat;
        background-size: cover;
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
}

.chickenContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 60%;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    
}
.chicken{
    width: 100px;
    height: 100px;
    overflow: hidden;
    object-fit: cover;

}


.bullet {
    position: absolute;
    width: 10px;
    height: 10px;
    transform: scale(0.3);
    left: 50%;
    transform: translateX(-50%) scale(0.3);  
}

.rocket {
    position: absolute;
    bottom: 0px;
    left: 0;
}

.rocket img {
    width: 100px;
    height: 100px;
}
